<!-- 
  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR pagePURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->
<ion-header>
    <div id="background-header" style="background:#000"></div>
    <ion-toolbar style="background:#000">
        <ion-button slot="end" [disabled]="images.length + webImages.length == 0" (click)="delete()">
            <img class="enter" src="../../../assets/images/delete.svg" width="18" alt="Entrar" />
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="background-content" style="background:#000"></div>
    <ion-slides pager="true" [options]="slideOpts" #slides>
        <ion-slide *ngFor="let image of webImages; index as pos">
            <ion-img [src]="image.path"></ion-img>
        </ion-slide>
        <ion-slide *ngFor="let image of images; index as pos">
            <ion-img [src]="image.path"></ion-img>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer>
    <div id="background-footer" style="background:#000"></div>
    <ion-toolbar style="background:#000">
        <ion-button id="more-photos-button" slot="start" (click)="addPicture()" style="background:#000">
            <svg id="more-photos" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><defs><style>.a,.b{fill:none;}.a{stroke:#fff;stroke-width:2.5px;}</style></defs><g transform="translate(-779 -1180.394)"><g transform="translate(781 1182.394)"><line class="a" y2="21.213" transform="translate(21.213 10.606) rotate(90)"/><line class="a" y2="21.213" transform="translate(10.607)"/></g></g><rect class="b" width="25" height="25"/></svg>            Fotos <span class="n_images">({{images.length + webImages.length}})</span> </ion-button>
        <ion-button id="continue-button" slot="end" (click)="goToResponseSending()" style="background:#000">Continuar
            <ion-icon style="font-size: 30px;" name="chevron-forward-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-footer>