<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header>
    <ion-toolbar>
        <a id="button-back" (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><defs><style>.a33{fill:#be2f73;}.b33{fill:none;}</style></defs><path class="a33" d="M9.5,7.838h0L1.662,0,0,1.662,7.838,9.5,0,17.339,1.662,19l9.5-9.5Z" transform="translate(17.271 22.001) rotate(180)"/><rect class="b33" width="25" height="25"/></svg>            Inicio
        </a>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div id="content">
        <div id="background-content"></div>
        <ion-label id="title-content">TU USUARIO</ion-label>
        <ion-list>
            <ion-item>
                <ion-input class="text" clearOnEdit="false" readonly [(ngModel)]="userNewName"></ion-input>
            </ion-item>
            <!-- 
            <ion-item>
                <ion-input class="text" placeholder="Contraseña actual" [type]="passwordType" clearOnEdit="false" [(ngModel)]="userPasswordMods"></ion-input>
                <ion-icon [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            -->
            <ion-item>
                <ion-input class="text" placeholder="Contraseña nueva" [type]="passwordType" clearOnEdit="false" [(ngModel)]="userNewPassword"></ion-input>
                <ion-icon [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <ion-item>
                <ion-input class="text" placeholder="Confirmar contraseña nueva" [type]="passwordType" clearOnEdit="false" [(ngModel)]="userNewPasswordConf"></ion-input>
                <ion-icon [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>

        </ion-list>
        <a id="changepass-button" class="btn default_buttom" expand="full" (click)="save()">
             Cambiar contraseña
         </a>
        <a id="logout-button" class="btn default_buttom" expand="full" (click)="logout()">
             Cerrar sessión
         </a>
    </div>
</ion-content>