        /* 
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of Dentaltea
 *  
 *  Detnaltea is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  Dentaltea is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 */
        
#content {
    padding: 24px 43px;
    ion-label#title-content {
        font-size: 14px;
        line-height: 21px;
        color: #50002680;
        margin-bottom: 40px;
        display: block;
        background: #F5F0F3;
    }
    ion-list {
        background: #F5F0F3;
        ion-item {
            background: #F5F0F3 !important;
            --background: #F5F0F3 !important;
            opacity: 0.7;
            height: 40px;
            line-height: 40px;
            border: solid thin#BE2F73 !important;
            margin-bottom: 24px;
            ion-input {
                position: relative;
                background: #F5F0F3 !important;
                --background: #F5F0F3 !important;
                top: -5px;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                color: #BE2F73;
                .item-native {
                    background: #F5F0F3;
                    --background: #F5F0F3 !important;
                }
            }
            ion-icon {
                margin-top: -10px;
            }
        }
        ion-item.ion-touched {
            opacity: 1;
        }
    }
    a.btn.default_buttom {
        border-radius: 26px !important;
        height: auto;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        color: #fff;
        width: 100%;
        display: block;
        text-align: center;
        background: #BE2F73;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: uppercase;
    }
    a.btn.default_buttom:hover {
        opacity: 0.8;
    }
}

ion-toolbar {
    padding-top: 30px !important;
}

#button-back {
    padding-left: 10px;
    cursor: pointer;
    position: relative;
    top: -4px;
    svg {
        position: relative;
        top: 5px;
    }
    ion-tab-button#tab-button-mainTab {
        * {
            display: block;
        }
        cursor: pointer;
        font-size: 16px;
        line-height: 28px;
        color: #BE2F73;
        display: block;
        width: 120px;
        .button-native {
            cursor: pointer;
            font-size: 16px;
            line-height: 28px;
            color: #BE2F73;
            display: block !important;
            .button-inner {
                cursor: pointer;
                font-size: 16px;
                line-height: 28px;
                color: #BE2F73;
                display: block !important;
            }
        }
        ion-icon {
            display: inline-block;
            position: relative;
            top: 2px;
            margin-left: 10px;
        }
    }
}

#background-content {
    background: #F5F0F3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

