<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR pagePURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->
 <ion-header>
  <div id="background-header"></div>
  <ion-toolbar>
      <ion-button slot="start" (click)="close()">
          <ion-icon name="close-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="background-content"></div>
  <ion-slides pager="true" [options]="slideOpts" #slides>
      <ion-slide *ngFor="let image of images; index as pos">
          <ion-img [src]="image.image"></ion-img>
      </ion-slide>
  </ion-slides>
</ion-content>