/*
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-header {
    border-bottom: none !important;
    background: none;
    box-shadow: 0px 0.5px 6px rgba(0, 0, 0, 0.1752);
    min-height: 72.5px;
    padding-top: 30px;
    background: #F5F0F3aa;
    &:after {
        background-image: none;
    }
    ion-toolbar {
        ion-title {
            color: #BE2F73 !important;
            font-weight: bold;
            margin: auto;
            font-family: "Canela";
            font-size: 32.5px;
            padding: 20.5px 20px;
            height: 75px;
            text-align: center;
            background: #f7f6f7 0% 0% no-repeat padding-box;
        }
        ion-img {
            margin: auto;
        }
        @media (max-width: 460px) {
            ion-img {
                width: 120px;
            }
            ion-title {
                font-size: 32.5px;
            }
        }
        @media (max-width: 760px) {
            ion-img {
                width: 200px;
            }
            ion-title {
                font-size: 32.5px;
            }
        }
        @media (min-width: 760px) {
            ion-img {
                width: 280px;
            }
            ion-title {
                font-size: 32.5px;
                line-height: 32.5px;
            }
        }
    }
}