.notification-title {
    font-size: 15px !important;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: -0.36px;
    color: #BE2F73;
}

.delete-notification {
    position: absolute;
    right: 20px;
    display: block;
    width: 20px;
    top: 15px;
}

app-notification {
    padding: 16px 40px 17px 0;
}