<ion-header>
    <ion-toolbar>
        <a id="button-back" slot="start" (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><defs><style>.a33{fill:#be2f73;}.b33{fill:none;}</style></defs><path class="a33" d="M9.5,7.838h0L1.662,0,0,1.662,7.838,9.5,0,17.339,1.662,19l9.5-9.5Z" transform="translate(17.271 22.001) rotate(180)"/><rect class="b33" width="25" height="25"/></svg>            Inicio
        </a>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="background-content"></div>
    <h2 class="section-title">Petición</h2>

    <div id="request-data">
        <div id="request-title">
            <h2>{{myRequest.title}}</h2>
            <div id="request-dropdown-icon">
                <ion-icon (click)="onDropdownDescription()" [name]="dropdownIcon"></ion-icon>
            </div>
        </div>
        <div *ngIf="myRequest.ID != 0" id="request-expiration">Fecha límite: {{myRequest.expiration_date_formatted }}</div>

        <div *ngIf="showDescription" class="request-dropdown">
            <div id="request-description">{{myRequest.description}}</div>
            <div id="request-terms">{{myRequest.terms}}</div>
        </div>
    </div>

    <h2 *ngIf="this.myResponses" class="section-title">Capturas</h2>
    <ion-grid id="captures" *ngIf="this.myResponses">
        <app-response-box *ngFor="let response of this.myResponses" [myResponse]="response" (click)="onResponse(response)"></app-response-box>
    </ion-grid>
    <div *ngIf='!myResponsesLoaded' id="no-notification"><ion-spinner name="dots"></ion-spinner></div>
</ion-content>