<!-- 
  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR pagePURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header>
    <ion-toolbar>
        <ion-button slot="start" (click)="delete()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="response-content">
    <div id="background-content"></div>
    <h2 class="section-title">Captura</h2>


    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="4" *ngFor="let image of editedResponse.images; let i = index">
                <ion-thumbnail style="width:100%; height: auto;" (click)="openCarrousel(i)">
                    <ion-img [src]="image.thumb"></ion-img>
                </ion-thumbnail>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size=12>
                <ion-datetime class="response_datetime" readonly displayFormat="DD/MM/YYYY hh.mm" [(ngModel)]="editedResponse.creation_date">
                </ion-datetime>
                <ion-textarea [(ngModel)]="editedResponse.description" placeholder="Escribir descripción"></ion-textarea>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button slot="start" (click)="backToGallery()">
            <ion-icon name="chevron-back-outline"></ion-icon> Fotos ({{images.length + webImages.length}}) </ion-button>
        <ion-button *ngIf='locating === false' slot="end" (click)="save()">Guardar
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf='locating === true' slot="end">
            <ion-spinner name="bubbles"></ion-spinner>
        </ion-button>
    </ion-toolbar>
</ion-footer>