/*
 *  Copyright 2020,2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

.scrollable-response-content {
    height: 30%;
}

.noscrollable-response-content {
    height: 70%;
}

.response-content {
    margin-top: 10px;
}

ion-col ion-thumbnail ion-img {
    width: auto !important;
}

ion-toolbar {
    --background: #000 !important;
    background: #000 !important;
    ion-button {
        --background: #000 !important;
        background: #000 !important;
        color: #fff;
        --color: #fff;
    }
}

ion-content {
    margin-top: 20px;
    background: #000;
    h2.section-title {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        margin: 36px 36px 12px;
        position: relative;
    }
    ion-grid {
        margin: 0 16px 36px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 14px;
        .response_datetime {
            color: #BE2F73;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.33px;
        }
        #capture-description {
            font-size: 15px;
            line-height: 24px;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #414141;
        }
        #capture-date {
            color: #BE2F73;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: -0.33px;
        }
    }
}

#background-content {
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

ion-toolbar {
    padding-top: 30px !important;
}