/*
 *  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-content {
    margin-top: 20px;
    h2.section-title {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        color: #50002680;
        margin: 36px 36px 12px;
        position: relative;
    }
    ion-grid {
        margin: 0 16px 36px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 0 0 0 15px;
        app-notification {
            position: relative;
            cursor: pointer;
            border-bottom: solid thin #ddd;
            display: block;
            padding: 16px 40px 17px 0;
            display: block;
            font-size: 15px !important;
            line-height: 22px;
            font-weight: normal;
            letter-spacing: -0.36px;
            color: #BE2F73;
            span {
                display: block;
            }
        }
        app-notification:hover {
            opacity: 0.8;
        }
    }
}

a.btn.default_buttom {
    border-radius: 26px !important;
    height: auto;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    background: #BE2F73;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

a.btn.default_buttom:hover {
    opacity: 0.8;
}

#no-notification {
    text-align: center;
    color: #0B0B0B;
    opacity: 0.5;
    font-size: 13px;
    margin-top: 120px;
    line-height: 22px;
    letter-spacing: -0.33px;
}

#button-back {
    padding-left: 10px;
    cursor: pointer;
    position: relative;
    top: -4px;
    svg {
        position: relative;
        top: 5px;
    }
    ion-tab-button#tab-button-mainTab {
        * {
            display: block;
        }
        cursor: pointer;
        font-size: 16px;
        line-height: 28px;
        color: #BE2F73;
        display: block;
        width: 120px;
        .button-native {
            cursor: pointer;
            font-size: 16px;
            line-height: 28px;
            color: #BE2F73;
            display: block !important;
            .button-inner {
                cursor: pointer;
                font-size: 16px;
                line-height: 28px;
                color: #BE2F73;
                display: block !important;
            }
        }
        ion-icon {
            display: inline-block;
            position: relative;
            top: 2px;
            margin-left: 10px;
        }
    }
}

#background-content {
    background: #F5F0F3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


ion-toolbar {
    padding-top: 30px !important;
}