<!-- 
  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR pagePURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header>
    <ion-toolbar>
        <a id="button-back" slot="start" (click)="back()">
            <ion-icon name="close-outline" size="large"></ion-icon>
        </a>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="myContent">
        <div class="edit-capture">
            <ion-label class="editar-captura-title">
                EDITAR CAPTURA
            </ion-label>
        </div>
        <div class="capture-info">
            <ion-grid>
                <ion-row id='capture' class="ion-justify-content-center">
                    <ion-col size="12" style="display: flex; align-items: flex-start;">
                        <ion-thumbnail style="width:77px; min-width: 77px; max-width:100%; height: auto;">
                            <ion-img *ngIf="myResponse.thumb" [src]="myResponse.thumb" width="77"></ion-img>
                            <ion-img *ngIf="!myResponse.thumb" [src]="imageNull" width="77"></ion-img>
                        </ion-thumbnail>
                        <div id="item-description">
                            <ion-label class="creationDate"> {{ myResponse.creation_date_formatted }} </ion-label><br />
                            <ion-label class="boxTitle"> {{ myResponse.description_45 }} </ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
<ion-footer class="myFooter">
    <div class="option-copy" (click)="copy()">
        <p id="text-copy">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><defs><style>.a{fill:none;}.b{fill:#fff !important;}</style></defs><rect class="a" width="30" height="30"/><path class="b" d="M726.707,400.293l-4-4A1,1,0,0,0,722,396h-7a1,1,0,0,0-1,1v3h-4a1,1,0,0,0-1,1v15a1,1,0,0,0,1,1h11a1,1,0,0,0,1-1v-3h4a1,1,0,0,0,1-1V401A1,1,0,0,0,726.707,400.293Zm-2.121.707H722v-2.586ZM720,415h-9V402h3v10a1,1,0,0,0,1,1h5Zm5-4h-9V398h4v4a1,1,0,0,0,1,1h4Z" transform="translate(-703 -391)"/></svg>            COPIAR A... </p>
    </div>
    <div class="option-move" (click)="move()">
        <p id="text-move">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><defs><style>.a{fill:none;}.b{fill:#fff !important;}</style></defs><rect class="a" width="30" height="30"/><path class="b" d="M800.92,406.079a1,1,0,0,0-.838-.454H796l-.281-1.955a1,1,0,0,0-.991-.857h-7.555l-1.975-1.644a1,1,0,0,0-.639-.231h-5.7a1,1,0,0,0-.99,1.142l1.888,13.125c0,.018.013.032.016.049a1,1,0,0,0,.082.242c.012.025.021.05.035.074s.011.026.019.038a1.031,1.031,0,0,0,.176.2c.013.011.028.019.041.03a.992.992,0,0,0,.226.135c.027.011.053.022.08.031a.987.987,0,0,0,.315.058h15.6a.982.982,0,0,0,.369-.081.945.945,0,0,0,.086-.04,1,1,0,0,0,.285-.212c0-.005.011-.007.016-.012l0,0a1.044,1.044,0,0,0,.156-.247L801,407.029A1,1,0,0,0,800.92,406.079ZM784.2,402.938l1.975,1.643a1,1,0,0,0,.639.232h7.051l.117.812h-9.5a1,1,0,0,0-.914.6l-2.326,5.255-1.227-8.538ZM795.724,414h-.54l.009.063H782.284l2.85-6.438h13.412Z" transform="translate(-773.861 -393.938)"/></svg>            MOVER A... </p>
    </div>
    <div class="option-delete" (click)="delete()">
        <p id="text-delete">
            ELIMINAR
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><defs><style>.a{fill:none;}.b2{fill:#fd0000;}</style></defs><rect class="a" width="30" height="30"/><g transform="translate(-838 -392.416)"><path class="b2" d="M851,414a1,1,0,0,0,1-1v-8a1,1,0,0,0-2,0v8A1,1,0,0,0,851,414Z"/><path class="b2" d="M855,414a1,1,0,0,0,1-1v-8a1,1,0,0,0-2,0v8A1,1,0,0,0,855,414Z"/><path class="b2" d="M861,401h-3.41l-1.671-2.694a1,1,0,0,0-.85-.473h-4.138a1,1,0,0,0-.85.473L848.41,401H845a1,1,0,0,0,0,2h1v13a1,1,0,0,0,1,1h12a1,1,0,0,0,1-1V403h1a1,1,0,0,0,0-2Zm-9.513-1.167h3.026l.724,1.167h-4.474ZM858,415H848V403h10Z"/></g></svg>
        </p>
    </div>
    <div class="cancel-div" (click)="back()">
        <p id="text-cancel">
            CANCELAR</p>
    </div>
</ion-footer>