/*
 *  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-header {
    --ion-background-color: var(--ion-color-primary);
    &::after {
        box-shadow: none;
        background: none;
    }
}

ion-content {
    --ion-background-color: var(--ion-color-primary);
    --padding-top: 100px;
    --padding-start: 20px;
    --padding-end: 20px;
    height: 100%;
}

.myFooter {
    background-color: var(--ion-color-primary);
    padding-left: 20px;
    padding-right: 20px;
}

.myContent {
    height: 100%;
}

.edit-capture {
    padding-left: 15px;
    color: white;
    padding-bottom: 2px;
}

.capture-info {
    background: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.boxTitle {
    font-size: 15px;
    line-height: 24px;
    color: #414141;
    font-family: 'IBM Plex Sans', sans-serif;
}

.creationDate {
    font-size: 12px;
    line-height: 18px;
    color: #BE2F73;
    letter-spacing: -0.33px;
}

ion-thumbnail {
    margin-right: 16px;
}

.boxIcon {
    display: flex;
    align-items: center;
    color: var(--ion-color-primary);
}

#item-description {
    position: relative;
    top: -5px;
}

.option-move {
    width: 100%;
    background: #00000055;
    height: 52px;
    border-radius: 0px 0px 0px 0px;
    border-color: #000000CB;
    border: solid 1px;
    text-align: center;
    margin-bottom: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    p {
        margin: -3px 0;
        font-weight: bold;
        svg {
            position: relative;
            top: 7px;
            fill: #fff !important;
            color: #fff !important;
        }
    }
}

#text-move {
    color: white;
}

.editar-captura-title {
    font-size: 14px;
    color: rgba(255, 160, 208, 1);
}

.option-copy {
    width: 100%;
    background: #00000055;
    height: 52px;
    border-radius: 22.5px 22.5px 0px 0px;
    border-color: #000000CB;
    border: solid 1px;
    text-align: center;
    margin-bottom: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    p {
        margin: -3px 0;
        font-weight: bold;
        svg {
            position: relative;
            top: 7px;
            fill: #fff !important;
            color: #fff !important;
        }
    }
}

#text-copy {
    color: white;
}

.option-delete {
    width: 100%;
    background: #00000055;
    height: 52px;
    border-radius: 0 0 22.5px 22.5px;
    border-color: #000000CB;
    border: solid 1px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    p {
        margin: -3px 0;
        font-weight: bold;
        svg {
            position: relative;
            top: 7px;
        }
    }
}

#text-delete {
    color: #fd0000;
}

.cancel-div {
    width: 100%;
    background: #242424;
    border-radius: 26px;
    text-align: center;
    height: 52px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    p {
        margin: 10px 0;
    }
}

#text-cancel {
    cursor: pointer;
    color: white;
}

#button-back {
    cursor: pointer;
    padding-left: 10px;
    color: white;
}

ion-toolbar {
    padding-top: 30px !important;
}