ion-content {
    background: #F5F0F3 0% 0% no-repeat padding-box;
}

.alert-title.sc-ion-alert-md {
    font-family: "iA Writer Duospace" !important;
    font-size: 20px;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
    letter-spacing: -0.48px;
}

.alert-radio-label.sc-ion-alert-md {
    font-size: 15px;
    line-height: 22px;
    color: #BE2F73;
    letter-spacing: -0.36px;
    font-family: "iA Writer Duospace" !important;
}

.alert-radio-icon.sc-ion-alert-md {
    left: 17px;
    top: 0;
    border-radius: 50%;
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #cab2bd;
}

.alert-radio-label.sc-ion-alert-md {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: 40px;
    padding-inline-end: 10px;
}

#background-content {
    background: #F5F0F3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.alert-radio-inner.sc-ion-alert-md {
    left: 1px;
    top: 1px;
    background: #50002680;
}

[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: #BE2F73;
}

.alert-radio-group.sc-ion-alert-md .alert-radio.sc-ion-alert-md {
    border-bottom: solid thin #ddd;
}

.alert-radio-group.sc-ion-alert-md .alert-radio.sc-ion-alert-md:last-child {
    border-bottom: none;
}

.alert-button-group.sc-ion-alert-md {
    justify-content: center;
    .alert-button.sc-ion-alert-md {
        width: 50%;
        margin: 0;
        box-sizing: border-box;
        .alert-button-inner.sc-ion-alert-md {
            justify-content: center;
            font-weight: bold;
            letter-spacing: 1.5px;
        }
    }
    .alert-button.sc-ion-alert-md.alert-button-role-cancel {
        border-right: solid thin #ccc !important;
    }
}

#button-back {
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    color: #BE2F73;
    .button-native {
        cursor: pointer;
        font-size: 16px;
        line-height: 28px;
        color: #BE2F73;
        display: block !important;
        .button-inner {
            cursor: pointer;
            font-size: 16px;
            line-height: 28px;
            color: #BE2F73;
            display: block !important;
        }
    }
    ion-icon {
        display: inline-block;
        position: relative;
        top: 2px;
        margin-left: 10px;
    }
}