<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-content [fullscreen]="true">
    <div id="content">
        <div class="login-rectangle">
            <!--<ion-img src="../../../assets/images/ac_logo.png"></ion-img>-->
            <h1 class="title_without_menubar">Acceder a <br />“Otō Trends Capture”</h1>
            <ion-item>
                <ion-input class="text" type="text" placeholder="Correo electrónico" [(ngModel)]="data.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input class="text" [type]="passwordType" clearOnEdit="false" placeholder="Contraseña" [(ngModel)]="data.pass"></ion-input>
                <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>

            <a id="login-button" class="btn default_buttom" expand="full" (click)="login()">
              ENTRAR
          </a>

            <a id="forgotpass-button" class="default_buttom" expand="full" (click)="recover()">
              He olvidado mi contraseña
          </a>

            <div id="login-info"><span>Si no tienes aún tu “Usuario” y “Contraseña” pídelo a </span><a href="mailto:info@ohayobrands.com">info@ohayobrands.com</a></div>
            <div id="privacy-info"><span>Puedes consultar la política de privacidad de Ohayō </span><a href="https://ohayotrends.com/politica-privacidad/">aquí</a></div>
        </div>
        <div id="copyright">Ohayō ©2022</div>
    </div>
</ion-content>