/* 
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of oto app
 *  
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

#sections_menu {
    margin-top: 35px;
}
#system_menu {
border-top: 1px solid var(--ion-color-primary-tint);
margin-top: 15px;
padding-top: 5px;
}

:host {
    ion-menu {
        ion-content {
            ion-list {
                ion-item {
                    --ion-background-color: var(--ion-color-primary);
                    background-size: cover;
                    border-top: solid 1px;
                    border-bottom: solid 1px;
                }
            }
        }
    }
}

ion-list-header {
    font-family: 'Montserrat' !important;
    font-weight: 700;
    font-size: 26px;
    color: var(--ion-color-primary);
}
ion-label {
    font-family: 'Montserrat' !important;
    font-size: 20px;
}
ion-menu ion-item {
    --color: #ffffff;
}
ion-icon {
    color: #ffffff;
}