/*
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-content {
    margin-top: 20px;
    background: #F5F0F3;
    h2.section-title {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        color: #50002680;
        margin: 36px 36px 12px;
        position: relative;
    }
    #capture-data {
        margin: 0 16px 36px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 18px 18px;
        h2 {
            margin-top: 0;
            color: #000;
            font-size: 19px;
            font-weight: normal;
            line-height: 26px;
            font-family: 'IBM Plex Sans', sans-serif;
        }
        #capture-expiration {
            color: #BE2F73;
            font-size: 13px;
            line-height: 21px;
        }
        #capture-description {
            font-size: 14px;
            line-height: 22px;
            margin-top: 20px;
            color: #414141;
            font-family: 'IBM Plex Sans', sans-serif;
        }
        #capture-terms {
            font-size: 13px;
            line-height: 21px;
            margin-top: 20px;
            color: #BE2F73;
        }
    }
    ion-grid {
        margin: 0 16px 36px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 0 0 0 15px;
        #capture-description {
            font-size: 15px;
            line-height: 24px;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #414141;
        }
        #capture-date {
            color: #BE2F73;
            font-size: 13px;
            line-height: 28px;
            letter-spacing: -0.33px;
        }
    }
    ion-grid#capture-thumbs {
        padding: 14px;
    }
}

#background-content {
    background: #F5F0F3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#button-back {
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    top: -4px;
    svg {
        position: relative;
        top: 5px;
    }
}

.scrollable-response-content {
    height: 30%;
}

.noscrollable-response-content {
    height: 70%;
}

.response-content {
    margin-top: 10px;
}

ion-col ion-thumbnail ion-img {
    width: auto !important;
}

#button-back {
    cursor: pointer;
    padding-left: 10px;
}

#button-edit {
    cursor: pointer;
    padding-right: 25px;
}

#background-content {
    background: #F5F0F3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

ion-toolbar {
    padding-top: 30px !important;
}