<!-- 
  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR pagePURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header>
    <ion-toolbar>
        <a id="button-back" slot="start" (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><defs><style>.a33{fill:#be2f73;}.b33{fill:none;}</style></defs><path class="a33" d="M9.5,7.838h0L1.662,0,0,1.662,7.838,9.5,0,17.339,1.662,19l9.5-9.5Z" transform="translate(17.271 22.001) rotate(180)"/><rect class="b33" width="25" height="25"/></svg>            Petición
        </a>
        <a id="button-edit" slot="end" (click)="edit()">
        Editar </a>
    </ion-toolbar>
</ion-header>

<ion-content class="response-content">
    <div id="background-content"></div>
    <h2 class="section-title">Captura</h2>


    <ion-grid id="capture-thumbs">
        <ion-row class="ion-align-items-center">
            <ion-col size="4" *ngFor="let image of myResponse.images; let i = index">
                <ion-thumbnail style="width:100%; height: auto;" (click)=openCarrousel(i)>
                    <ion-img [src]="image.thumb"></ion-img>
                </ion-thumbnail>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center"></ion-row>
        <ion-col size="12">
            <div id="capture-date">{{ myResponse.creation_date_formatted }}</div>
            <div id="capture-description">{{ myResponse.description }}</div>
        </ion-col>
    </ion-grid>

</ion-content>