<!-- 
  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-tabs class="oto_tabs">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="mainTab">
            <img src="../../../assets/images/icon-home.svg" width="30" alt="Home">
        </ion-tab-button>
        <ion-tab-button tab="notificationsTab">
            <img src="../../../assets/images/icon-notif.svg" width="30" alt="Home">
        </ion-tab-button>
        <ion-tab-button tab="accountTab">
            <img src="../../../assets/images/icon-user.svg" width="30" alt="Home">
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
<ion-button class="add_image" shape="round" (click)="newResponse()">
    <ion-icon size="large" name="add-outline"></ion-icon>
</ion-button>