/*
 *  Copyright 2020, 2021 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-tab-button[aria-selected=true] {
    box-shadow: 0 2px 0 0 #707070 inset;
}

ion-tab-bar {
    margin-right: 115px;
    justify-content: flex-start;
    padding-bottom: 25px;
    box-shadow: -10px -1px 6px rgba(0, 0, 0, 0.16);
    ion-tab-button {
        max-width: 55px;
        margin: 0 8px;
    }
    ion-tab-button:first-child {
        margin: 0 8px 0 16px;
    }
    ion-tab-button:last-child {
        margin: 0 16px 0 8px;
    }
}

.add_image {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    height: 95px;
    width: 95px;
    padding: 0;
}