/*
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-content {
    margin-top: 20px;
    background: #F5F0F3;
    h2#home-title {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        color: #50002680;
        margin: 36px 36px 12px;
        position: relative;
    }
    ion-grid {
        margin: 0 16px 36px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 0 0 0 15px;
        app-request {
            cursor: pointer;
            border-bottom: solid thin #ddd;
            display: block;
            padding: 16px 0 17px;
            ion-row {
                ion-col {
                    ion-label {
                        display: block;
                        font-size: 15px;
                        line-height: 22px;
                        font-weight: normal !important;
                        letter-spacing: -0.36px;
                        .request-title {
                            font-size: 15px;
                            line-height: 22px;
                            font-weight: normal;
                            letter-spacing: -0.36px;
                        }
                    }
                }
            }
        }
        app-request:hover {
            opacity: 0.8;
        }
    }
    ion-img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #button {
        height: 100%;
        justify-content: center;
    }
}

#background-content {
    background: #F5F0F3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#no-notification {
    text-align: center;
    color: #0B0B0B;
    opacity: 0.5;
    font-size: 13px;
    margin-top: 120px;
    line-height: 22px;
    letter-spacing: -0.33px;
}



ion-header {
    padding-top: 30px;
    background: #F5F0F3aa;
}