<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR pagePURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<app-header title="Portada" [retButton]="false" [isMenu]="true"></app-header>

<ion-content>
    <div id="background-content"></div>

    <h2 *ngIf='loaded' id="home-title">Peticiones de Otō</h2>
    <div *ngIf='loaded'>
        <ion-grid>
            <app-request *ngFor="let request of this.requests" [myRequest]="request" (click)="openRequest(request)"></app-request>
        </ion-grid>
        <ion-grid>
            <app-request [myRequest]="miNotes" (click)="openRequest(miNotes)"></app-request>
        </ion-grid>
    </div>
    <div *ngIf="!loaded" id="no-notification"><ion-spinner name="dots"></ion-spinner></div>
</ion-content>