<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-row [ngClass]="{'mis-capturas' : myRequest.ID == 0}">
    <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
  justify-content: left;
  align-items: center;">
        <ion-label>
            <span class="request-title">
          {{ myRequest.title_25 }}
        </span> <span class="n_answers">({{ myRequest.n_answers }})</span><br />
            <span *ngIf="myRequest.ID > 0" class="item_expiration">Caduca: {{ myRequest.expiration_date_formatted }}</span>
            <img class="enter" src="../../../assets/images/right-arrow.svg" width="18" alt="Entrar" />
        </ion-label>
    </ion-col>
</ion-row>