/*
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

.post_content {
    margin-top: 10px;
    padding: 5px;
}

ion-label {
    width: 100%;
    display: block;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal !important;
    letter-spacing: -0.36px;
    color: #BE2F73;
    .request-title {
        font-size: 15px;
        line-height: 22px;
        font-weight: normal;
        letter-spacing: -0.36px;
        color: #BE2F73;
    }
    .n_answers {
        font-size: 15px;
        line-height: 22px;
        font-weight: normal;
        letter-spacing: -0.36px;
        color: #50002680;
    }
    .item_expiration {
        font-size: 13px;
        line-height: 22px;
        color: #50002680;
    }
    img.enter {
        position: absolute;
        right: 15px;
        top: 10px;
    }
}