/*
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *
 *  This file is part of oto app
 *
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-content {
    margin-top: 20px;
    background: #F5F0F3;
    h2.section-title {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        color: #50002680;
        margin: 36px 36px 12px;
        position: relative;
    }
    #request-data {
        margin: 0 16px 36px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 18px 18px;
        h2 {
            margin-top: 0;
            color: #000;
            font-size: 18px;
            font-weight: normal;
            line-height: 26px;
        }
        #request-expiration {
            color: #BE2F73;
            font-size: 13px;
            line-height: 21px;
        }
    }
    ion-grid#captures {
        margin: 0 16px 36px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        padding: 0 0 0 15px;
        app-response-box {
            cursor: pointer;
            border-bottom: solid thin #ddd;
            display: block;
            padding: 16px 0 17px;
            ion-row {
                ion-col.capture-item-text {
                    h3.capture-item-title {
                        font-size: 15px;
                        line-height: 24px;
                        color: #414141;
                    }
                }
            }
        }
        app-request:hover {
            opacity: 0.8;
        }
    }
}

ion-toolbar {
    padding-top: 30px !important;
}