<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of oto app
  
  oto app is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  oto app is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR pagePURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="myRequest">
            <!----  Respuestas a -->
        </ion-title>
        <ion-title *ngIf="!myRequest">
            <!-- Mis notas -->
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="background-content"></div>
    <h2 class="section-title">Petición</h2>

    <div id="request-data">
        <h2>{{myRequest.title}}</h2>
        <div id="request-expiration">Fecha límite: {{myRequest.expiration_date_formatted }}</div>

        <!--     <div class="request-dropdown">
          <div id="request-description">{{myRequest.description}}</div>
          <div id="request-terms">{{myRequest.terms}}</div>
      </div>-->
    </div>

    <h2 class="section-title">Capturas</h2>
    <ion-grid id="captures" *ngIf="this.myResponses">
        <!-- <app-response-box *ngFor="let response of this.myResponses" [myResponse]="response" [images]="images[response.ID]" (editResponse)="editResponse($event)" (delResponse)="delResponse($event)"></app-response-box>-->
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-button fill="clear" expand="full" color="light" (click)="addResponse()">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            Añade una respuesta</ion-button>
    </ion-toolbar>
    <ion-toolbar>
        <ion-button slot="end" (click)="dismiss()">
            <ion-icon slot="start" name="refresh"></ion-icon>
            volver </ion-button>
    </ion-toolbar>
</ion-footer>