/* 
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of oto app
 *  
 *  oto app is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  oto app is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with oto app.  If not, see <https://www.gnu.org/licenses/>.
 */


/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* fonts for oto app Canela*/

@font-face {
    font-family: "Canela";
    font-style: normal;
    font-weight: bold;
    /* IE9 Compat Modes */
    src: url("assets/fonts/canela/canela-bold.eot");
    src: local("Canela"), local("Canela-Bold"), /* IE6-IE8 */
    url("assets/fonts/canela/canela-bold.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/canela/canela-bold.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/canela/canela-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Canela";
    font-style: italic;
    font-weight: bold;
    /* IE9 Compat Modes */
    src: url("assets/fonts/canela/canela-bold-italic.eot");
    src: local("Canela"), local("Canela-BoldItalic"), /* IE6-IE8 */
    url("assets/fonts/canela/canela-bold-italic.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/canela/canela-bold-italic.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/canela/canela-bold-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Canela";
    font-style: normal;
    font-weight: normal;
    /* IE9 Compat Modes */
    src: url("assets/fonts/canela/canela-regular.eot");
    src: local("Canela"), local("Canela-Regular"), /* IE6-IE8 */
    url("assets/fonts/canela/canela-regular.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/canela/canela-regular.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/canela/canela-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Canela";
    font-style: italic;
    font-weight: normal;
    /* IE9 Compat Modes */
    src: url("assets/fonts/canela/canela-regular-italic.eot");
    src: local("Canela"), local("Canela-Italic"), /* IE6-IE8 */
    url("assets/fonts/canela/canela-regular-italic.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/canela/canela-regular-italic.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/canela/canela-regular-italic.woff2") format("woff2");
}


/* fonts for oto app iA Writer Duospace*/

@font-face {
    font-family: "iA Writer Duospace";
    font-style: normal;
    font-weight: bold;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ia writer duospace/iAWriterDuospace-Bold.eot");
    src: local("iA Writer Duospace"), local("iA Writer Duospace-Bold"), /* IE6-IE8 */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Bold.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Bold.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "iA Writer Duospace";
    font-style: italic;
    font-weight: bold;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ia writer duospace/iAWriterDuospace-BoldItalic.eot");
    src: local("iA Writer Duospace"), local("iA Writer Duospace-BoldItalic"), /* IE6-IE8 */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-BoldItalic.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-BoldItalic.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "iA Writer Duospace";
    font-style: normal;
    font-weight: normal;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ia writer duospace/iAWriterDuospace-Regular.eot");
    src: local("iA Writer Duospace"), local("iA Writer Duospace-Regular"), /* IE6-IE8 */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Regular.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Regular.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "iA Writer Duospace";
    font-style: italic;
    font-weight: normal;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ia writer duospace/iAWriterDuospace-Italic.eot");
    src: local("iA Writer Duospace"), local("iA Writer Duospace-Italic"), /* IE6-IE8 */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Italic.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Italic.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ia writer duospace/iAWriterDuospace-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: bold;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.eot");
    src: local("IBM Plex Sans"), local("IBM Plex Sans-Bold"), /* IE6-IE8 */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: bold;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.eot");
    src: local("IBM Plex Sans"), local("IBM Plex Sans-BoldItalic"), /* IE6-IE8 */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.eot");
    src: local("IBM Plex Sans"), local("IBM Plex Sans-Regular"), /* IE6-IE8 */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: normal;
    /* IE9 Compat Modes */
    src: url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.eot");
    src: local("IBM Plex Sans"), local("IBM Plex Sans-Italic"), /* IE6-IE8 */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), /* Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.woff") format("woff"), /* Already More Modern Browsers */
    url("assets/fonts/ibm_plex_sans/IBMPlexSans-Regular.woff2") format("woff2");
}


/* default button class*/

.default-buttom {
    background-color: #e13234;
}


/* when we want centered content, as in login and registers forms
for being centered in tablets */

.centered_container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
}


/* when we want centered content, as in login and registers forms
for being centered in tablets */

.centered_container_with_header {
    text-align: center;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 600px;
}

ion-title {
    font-family: "Canela";
}


/* calendar view*/

ion-calendar {
    .eventDay {
        border: 1px solid !important;
        border-color: var(--ion-color-primary) !important;
    }
    .eventDay:disabled {
        border: 1px solid !important;
    }
    .today.eventDay {
        border: 2px solid !important;
        border-color: var(--ion-color-primary) !important;
    }
}

.sequences-modal-class .modal-wrapper {
    height: 100% !important;
    width: 100% !important;
}

.alert-title.sc-ion-alert-md {
    font-family: "iA Writer Duospace" !important;
    font-size: 20px;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
    letter-spacing: -0.48px;
}

.alert-radio-label.sc-ion-alert-md {
    font-size: 15px;
    line-height: 22px;
    color: #BE2F73;
    letter-spacing: -0.36px;
    font-family: "iA Writer Duospace" !important;
}

.alert-radio-icon.sc-ion-alert-md {
    left: 17px;
    top: 0;
    border-radius: 50%;
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #cab2bd;
}

.alert-radio-label.sc-ion-alert-md {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: 40px;
    padding-inline-end: 10px;
}

.alert-radio-inner.sc-ion-alert-md {
    left: 1px;
    top: 1px;
    background: #50002680;
}

[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: #BE2F73;
}

.alert-radio-group.sc-ion-alert-md .alert-radio.sc-ion-alert-md {
    border-bottom: solid thin #ddd;
}

.alert-radio-group.sc-ion-alert-md .alert-radio.sc-ion-alert-md:last-child {
    border-bottom: none;
}

.alert-button-group.sc-ion-alert-md {
    justify-content: center;
    .alert-button.sc-ion-alert-md {
        width: 50%;
        margin: 0;
        box-sizing: border-box;
        .alert-button-inner.sc-ion-alert-md {
            justify-content: center;
            font-weight: bold;
            letter-spacing: 1.5px;
        }
    }
    .alert-button.sc-ion-alert-md.alert-button-role-cancel {
        border-right: solid thin #ccc !important;
    }
}

.toolbar-background {
    background: #000 !important;
}

.phone-modal {    
    background: rgba(0, 0, 0, 0.5);
}
.sc-ion-modal-md-h {
    --background: none;
}
.sc-ion-modal-ios-h {
    --background: none;
}