<ion-row id='capture' class="ion-justify-content-center">
    <ion-col size="12" style="display: flex; align-items: flex-start;">
        <ion-thumbnail style="width:77px; min-width: 77px; max-width:100%; height: auto;">
            <ion-img *ngIf="myResponse.thumb" [src]="myResponse.thumb" width="77"></ion-img>
            <ion-img *ngIf="!myResponse.thumb" [src]="imageNull" width="77"></ion-img>
        </ion-thumbnail>
        <div id="item-description">
            <ion-label class="creationDate"> {{ myResponse.creation_date_formatted }} </ion-label><br />
            <ion-label class="boxTitle"> {{ myResponse.description_45 }} </ion-label>
        </div>
    </ion-col>
</ion-row>