#capture {}

.boxTitle {
    font-size: 15px;
    line-height: 24px;
    color: #414141;
    font-family: 'IBM Plex Sans', sans-serif;
}

.creationDate {
    font-size: 12px;
    line-height: 18px;
    color: #BE2F73;
    letter-spacing: -0.33px;
}

ion-thumbnail {
    margin-right: 16px;
}

.boxIcon {
    display: flex;
    align-items: center;
    color: var(--ion-color-primary);
}

#item-description {
    position: relative;
    top: -5px;
}